<%= form_for(@primary_class) do |f| %>
	<% if @primary_class.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@primary_class.errors.count, "error") %>:</h2>
			<ul>
			<% @primary_class.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
			</ul>
		</div>
	<% end %>
	
	<div class="field">
		<%= f.label :name %><br />
		<%= f.text_field :name %>
	</div>
	<div class="actions">
		<%= f.submit lbl %>
	</div>
<% end %>
